[Unit]
Description=Zero Axis gateway network apply service
Requires=gateway-startup.service
After=gateway-startup.service network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/opt/gateway/scripts/gateway-network-apply.sh
ExecReload=/opt/gateway/scripts/gateway-network-apply.sh
ExecStartPost=/usr/bin/systemctl --no-block start gateway-network-monitor.service
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
